<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登録完了</title>
    <!-- Bootstrap CSSのリンクを含める -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="navFragments :: navbar"></div>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">登録完了!</h1>
            <p class="lead">ユーザーの登録が完了しました。</p>
            <hr class="my-4">
            <p>ログイン画面に戻って、ログインできるか確認してください。</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/login" role="button">ログイン画面に戻る</a>
            </p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
